<section class="aspect-square rounded-full bg-white/5 my-5 mx-auto relative -rotate-90 expertise-container">
  <div class="line"></div>
  {{#each expertises as |expertise|}}
  <div class="field">
    <div class="dot"></div>
    <div class="text">{{expertise}}</div>
  </div>
  {{/each}}
</section>
