<footer id="footer">
  <div class="col-1">
    <img src="/images/logo.svg" alt="Hakuhodo" />
    <div class="footer-nav">
      <p>© 2024 Hakuhodo Inc. All rights reserved.</p>
      {{!-- <ul>
        <li><a href="#">Terms and Conditions of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contact</a></li>
      </ul> --}}
    </div>
  </div>
  <div class="col-2">
    <div class="title">
      <img src="/images/ellipse.svg" alt="">
      <h3>Location</h3>
      <img src="/images/ellipse.svg" alt="">
    </div>
    <div class="location-row">
      <h3 class="row-title">
        HAKUHODO VIETNAM COMPANY LIMITED
      </h3>
      <div class="address">
        <div>0th Floor, Unit 3, Tower 1 - Saigon Centre, 65 Le Loi, District 1, Ho Chi Minh City</div>
        <div>(028) 3914 3102</div>
      </div>
    </div>
    <div class="location-row">
      <h3 class="row-title">
        HAKUHODO &amp; SAIGON ADVERTISING CO., LTD
      </h3>
      <div class="address">
        <div>10th Floor, Unit 1&amp;6, Tower 1 - Saigon Centre Building, No. 65 Le Loi Street, Ben Nghe Ward, District
          1, Ho Chi Minh City.</div>
        <div>(84-28) 38 250 140</div>
      </div>
    </div>
    <div class="location-row">
      <h3 class="row-title">
        HAKUHODO DIGITAL VIETNAM COMPANY LIMITED
      </h3>
      <div class="address">
        <div>9th Floor, Unit 2&amp;3, Tower 1 - Saigon Centre Building, No. 65 Le Loi Street, Ben Nghe Ward, District
          1, Ho Chi Minh City.</div>
        <div>(84-28) 3821 3887</div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="title">
      <img src="/images/ellipse.svg" alt="">
      <h3>Contact</h3>
      <img src="/images/ellipse.svg" alt="">
    </div>
    <p class="mb-copy">© 2024 Hakuhodo Inc. All rights reserved.</p>
    <a href="https://vn.linkedin.com/company/hakuhodo-vietnam" target="_blank">
      <img src="/images/linkedin.svg" alt="LinkedIn" />
    </a>
  </div>
</footer>
