<section id="teaser">
  <video muted playsinline autoplay class="sc teaser-video" data-src="/videos/teaser.mp4"
    data-src-mb="/videos/teaser-mb.mp4" data-poster="/images/poster/poster_teaser_dt.jpg"
    data-poster-mb="/images/poster/poster_teaser_mb.jpg">
  </video>
  <div class="more">
    <div>Explore More</div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 86" fill="none">
        <path id="teaser-arrow-short" d="M14 55.4555V2M26 44.121L14 56L1.99997 44.121" stroke="white"
          stroke-width="2.96975" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path id="teaser-arrow-long" d="M14 84V2M26 72L14 83.879L2 72" stroke="white" stroke-width="2.96975"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" style="visibility: hidden;" />
      </svg>
    </div>
  </div>
  <div class="controls">
    <div class="replay">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g class="anim-counterclockwise">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.2 12C23.2 18.1856 18.1856 23.2 12 23.2C5.81441 23.2 0.8 18.1856 0.8 12C0.8 10.3069 1.1757 8.70147 1.84829 7.26265C1.60089 7.15005 1.37223 7.00349 1.16826 6.8289C0.419351 8.39479 0 10.1484 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C9.30995 0 6.82664 0.885144 4.82543 2.38007C5.03703 2.54746 5.22456 2.74394 5.38199 2.96347C7.23609 1.6033 9.52423 0.8 12 0.8C18.1856 0.8 23.2 5.81441 23.2 12Z"
            fill="url(#replay-grd)" />
          <circle cx="3.04001" cy="4.80002" r="1.28" fill="url(#replay-grd3)" />
        </g>
        <path
          d="M16.96 11.6857C17.3866 11.9321 17.3866 12.5479 16.96 12.7942L9.87998 16.8819C9.45332 17.1282 8.91998 16.8203 8.91998 16.3276L8.91998 8.15235C8.91998 7.65968 9.45332 7.35176 9.87998 7.59809L16.96 11.6857Z"
          fill="url(#replay-grd2)" />
        <defs>
          <linearGradient id="replay-grd" x1="0" y1="12" x2="24" y2="12" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DD1940" />
            <stop offset="1" stop-color="#92035F" />
          </linearGradient>
          <linearGradient id="replay-grd3" x1="1.76001" y1="4.80002" x2="4.32001" y2="4.80002"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#DD1940" />
            <stop offset="1" stop-color="#92035F" />
          </linearGradient>
          <linearGradient id="replay-grd2" x1="11.92" y1="6.23999" x2="11.92" y2="18.24" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DD1940" />
            <stop offset="1" stop-color="#92035F" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="fullscreen">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.31359 9.31374L3.82831 3.82846M3.82831 3.82846L7.48516 3.82846M3.82831 3.82846L3.82831 7.48532M14.8285 14.8285L20.3138 20.3138M20.3138 20.3138H16.6569M20.3138 20.3138L20.3138 16.6569M9.31359 14.8285L3.82831 20.3138M3.82831 20.3138H7.48516M3.82831 20.3138L3.82831 16.6569M14.8285 9.31374L20.3138 3.82846M20.3138 3.82846L16.6569 3.82846M20.3138 3.82846L20.3138 7.48532"
          stroke="url(#paint0_linear_2004_12503)" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
        <defs>
          <linearGradient id="paint0_linear_2004_12503" x1="3.82831" y1="12.0711" x2="20.3138" y2="12.0711"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#DD1940" />
            <stop offset="1" stop-color="#92035F" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
